<footer id="footer-landing" class="bg-dark text-center text-white  ">
            
    <div class="container p-4 pb-0">
        <!-- Section: Links -->
        <section class="">
            <!--Grid row-->
            <div class="row">
            <!-- Grid column -->
            <div class="col-md-4 col-lg-4 col-xl-5 mx-auto mt-3">
                <h6 class="text-uppercase mb-4 font-weight-bold">
                App Django
                </h6>
                <p>Possimus maiores dolorem, in a laudantium voluptate, ea suscipit quisquam at repellat beatae doloremque consectetur.                       
                </p>
            </div>
            <!-- Grid column -->

            <hr class="w-100 clearfix d-md-none" />

            <!-- Grid column -->
            <div class="col-md-3 col-lg-3 col-xl-2 mx-auto mt-3">
                <h6 class="text-uppercase mb-4 font-weight-bold">Listado Links</h6>
                <p>
                <a class="text-white"  href="#">Link 1</a>
               
                </p>
                <p>
                    <a class="text-white"  href="#">Link 2</a>
                </p>
                <p>
                    <a class="text-white"  href="#">Link 3</a>
                </p>

            </div>
            <!-- Grid column -->
            <hr class="w-100 clearfix d-md-none" />

            <!-- Grid column -->
            <hr class="w-100 clearfix d-md-none" />

            <!-- Grid column -->
            <div class="col-md-5 col-lg-5 col-xl-5 mx-auto mt-3">
                <h6 class="text-uppercase mb-4 font-weight-bold">Contáctanos</h6>
            
                <p><i class="fas fa-home mr-3"></i> Calle Bonita, nº 1234, Comuna, 0 Región, Chile</a>
                </p>
                <p><a href="mailto:naty.ponce5@gmail.com" class="text-white"><i class="fas fa-envelope mr-3"> </i> info@gmail.com</a>
                </p>
                <p><i class="fas fa-phone mr-3"></i> + 569 11 222 333</p>
                <p>
                    <a href="tel:+56911222333"
                    class="text-white"> <i class='fab fa-whatsapp' style='font-size:24px'></i>+ 569 11 222 333</a>
                </p>
            </div>
            <!-- Grid column -->
            </div>
            <!--Grid row-->
        </section>
        

        <hr class="my-3">

        <!-- Section: Copyright -->
        <section class="p-3 pt-0">
            <div class="row d-flex align-items-center">
            <!-- Grid column -->
            <div class="col-md-7 col-lg-8 text-center text-md-start">
                <!-- Copyright -->
                <div class="p-3">
                © 2023 Copyright
                <a class="text-white" href="#"
                    >Natalia Ponce</a
                    >
                </div>
                <!-- Copyright -->
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-5 col-lg-4 ml-lg-0 text-center text-md-end">
                <!-- Facebook -->
                <a
                class="btn btn-outline-light btn-floating m-1"
                class="text-white"
                role="button"
                href="#"
                ><i class="fab fa-facebook-f"></i
                ></a>

                <!-- Twitter -->
                <a
                class="btn btn-outline-light btn-floating m-1"
                class="text-white"
                role="button"
                href="#"
                ><i class="fab fa-twitter"></i
                ></a>

                <!-- Google -->
                <a
                class="btn btn-outline-light btn-floating m-1"
                class="text-white"
                role="button"
                href="#"
                ><i class="fab fa-google"></i
                ></a>

                <!-- Instagram -->
                <a
                class="btn btn-outline-light btn-floating m-1"
                class="text-white"
                role="button"
                href="#"
                ><i class="fab fa-instagram"></i
                ></a>
            </div>
            <!-- Grid column -->
            </div>
        </section>
    </div>
</footer>